.App {
  text-align: center;
}

.navSnack {
  top: 50px !important;
}

.colorSecondary {
  color: #0e7767 !important;
}

.colorUnset {
  color: unset !important;
}

.customChipIcon {
  color: #0e7767 !important;
}

.banishedChip {
  color: black !important;
  background-color: #cfcfcf !important;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}

ul.behaviors {
  text-align: left;
  padding-inline-start: 0.5rem;
  list-style: none;
}

ul.behaviors li::before {
  content: url('./Images/bug_wrench_16px.png');
  margin-right: 1ch;
}

ul.behaviors li {
  padding-left: 1ch;
  font-family: 'Nunito', sans-serif;
}

ul.behaviors li:not(:last-child) {
  margin-bottom: 10px;
}

.pulseIconButton {
  animation: pulse-animation 2s infinite;
}

.MuiSpeedDialAction-staticTooltipLabel {
  white-space: nowrap !important;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(95, 165, 154, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
